#cuadroSobrepuesto {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 999;
}

#contenidoCuadro {
  background-color: white;
  width: 300px;
  padding: 20px;
}

#cerrarCuadro {
  display: block;
  margin-top: 10px;
}

#mostrarCuadro {
  cursor: pointer;
}

#cuadroSobrepuesto:target {
  display: block;
}
