body{
    background-image: url(./imagenes/pexels-pixabay-159400.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.kario{
    position: absolute;
    animation: kario 3s;
    opacity: 1;
    top: 23vi;
    left: 45vi;
    width: 12vw;
}

@keyframes kario {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

.margenBlanca{
    position: absolute;
    background-color: white;
    padding: 15vi 17vi;
    top: 15vi;
    left: 33vi;
    border-radius: 3vi;
}
.media{
    position: absolute;
    top: 0.5vi;
    left: 15vi;
    width: 5vw;
}
.bienvenido{
    position: absolute;
    text-align: center;
    font-size: 1.5vi;
    top: 3.5vi;
    left: 8vi;
}