<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="Administrador.css">
    <meta http-equiv="refresh" content="6; url=añadir.html">
</head>
<body>
    <div>
        <div class="margenBlanca2">
            <img src="./imagenes/kario.png" alt="logo" class="logo">
            <p class="nuevo">Bienvenido de nuevo</p>
            <img src="./imagenes/Welcome_to_FigJam__1_-removebg-preview.png" alt="welcome" class="welcome">
            <p class="neimar">Neimar Pele</p>
            <p class="administrador">Usuario Administrador</p>
        </div>
        <div>
            <img src="./imagenes/kario sin kairo.png" alt="kario" class="kario1">
        </div>
        <div id="animatingElement" class="animated-element"></div>
        <a href="añadir.html" class="trigger"></a>
    </div>
</body>
</html>